.home_bg
  .home_bg_container
    .left_info
      .title= 'Hello! 我是 '
        span.name= ' yu_十三'
      .info= 'Monie 1.0.0 预览版 正式完工了！！！'
      .info= '这是我的个人博客，致力于帮助你以最直观、最快速的方式学会前端开发，并希望我的个人经历对你有所启发。'
      .goto_btn
        .yu13_btn
          i.yufont.icon-github-fill
          = 'GitHub'
        .yu13_btn
          i.yufont.icon-github-fill
          = 'GitHub'
    .right_icon
     img(src=url_for('/img/index.svg'), alt="首页")